<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../public/javascripts/index.js"></script>
    
    <title>document</title>
    <script src="http://www.goat1000.com/tagcanvas.min.js?2.9" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans+Condensed:300" rel="stylesheet" />
    <link href="../public/stylesheets/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="putter">
            <div class="putter-top">
                <div class="company-name">
                    <div class="container-out">
                        <div class="container-in">
                            <span class="font-small">기업명</span><br/>
                            <span class="font-big"><%=  corpname%></span>
                        </div>
                    </div>
                </div>
                <div class="company-link">
                    <div class="container-out">
                        <div class="container-in">
                            <span class="font-small">홈페이지</span><br/>
                            <span class="font-big"><%= homepage %></span>
                        </div>
                    </div>
                </div>
                <div class="assets">
                    <div class="container-out">
                        <div class="container-in">
                            <span class="font-small">자산</span><br/>
                            <span class="font-big"><%= finance %></span>
                        </div>
                    </div>
                </div>
                <div class="market">
                    <div class="container-out">
                        <div class="container-in">
                            <span class="font-small">시장종류</span><br/>
                            <span class="font-big"><%=  market%></span>
                        </div>
                    </div>
                </div>
                <div class="code">
                    <div class="container-out">
                        <div class="container-in">
                            <span class="font-small">종목코드</span><br/>
                            <span class="font-big"><%= strockcode %></span>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="putter-bottom">
                <div class="company-name">
                    <div class="container-out">
                        <div class="container-in">
                            <span class="font-small">설립연도</span><br/>
                            <span class="font-big"><%= year %></span>
                        </div>
                    </div>
                </div>
                <div class="company-link">
                    <div class="container-out">
                        <div class="container-in">
                            <span class="font-small">직원 수</span><br/>
                            <span class="font-big"><%= workers %></span>
                        </div>
                    </div>
                </div>
                <div class="assets">
                    <div class="container-out">
                        <div class="container-in">
                            <span class="font-small">업종 분류</span><br/>
                            <span class="font-big"><%= kindcorp %></span>
                        </div>
                    </div>
                </div>
                <div class="market">
                    <div class="container-out">
                        <div class="container-in">
                            <span class="font-small">연락처</span><br/>
                            <span class="font-big"><%= phone %></span>
                        </div>
                    </div>
                </div>
                <div class="code">
                    <div class="container-out">
                        <div class="container-in">
                            <span class="font-small">♥</span><br/>
                            <span class="font-big"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>