<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../public/javascripts/index.js"></script>
    
    <title>document</title>
    <link rel="shortcut icon" type="image/x-icon" href="../public/images/favicon.ico" />
    <script src="http://www.goat1000.com/tagcanvas.min.js?2.9" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans+Condensed:300" rel="stylesheet" />
    <link href="../public/stylesheets/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header">
        <a class="logo-text" href="index.html">
            <img class="logo" src="../public/images/logo.png">
        </a>

        <a class="menu">
            <div class="menu-in">
                <span></span>
            </div>
        </a>
        <div class="menu-list">
            <form action="/***** 경로 *****" method=" ***** POST or GET *****">

            </form>
        </div>
    </div>


    <div id="bg-padding">
        <div id="myCanvasContainer">
            <div class="auto">
                <canvas id="myCanvas" width="700" height="700">
                    <p>Anything in here will be replaced on browsers that support the canvas element</p>
                </canvas>
            </div>
        </div>
        <div id="tags">
            <ul>
                <% for (var i = 0; i < corps.length; i++) { %>
                <li><a href="#corp-<%= i %>"><img class="small-img" src="http://cdnweb01.wikitree.co.kr/webdata/editor/201608/22/img_20160822122037_3ac07b09.jpg"></a></li>
                <% } %>
<!--
                <li><a href="#"><img class="small-img" src="https://i.ytimg.com/vi/3SP_Wes06Vo/maxresdefault.jpg"></a></li>
                <li><a href="#"><img class="small-img" src="http://assets.change.org/photos/9/uo/dt/cduodtsPMXsSEOL-1600x900-noPad.jpg?1434019403"></a></li>
                <li><a href="#"><img class="small-img" src="http://pds.joins.com/news/component/newsis/201704/20/NISI20170420_0012922092_web.jpg" /></a></li>
                <li><a href="#"><img class="small-img" src="https://cdn.namuwikiusercontent.com/storage/85d9db462ea3ce6f02ed8986d51ef04e5db2129657230ed5c13fd223583e6fe68e263706dbb84b733e2b624059d37a336e20b701e436c0b8ad447723edff8e686a97a0978835b79fbe832d923f5d6656?e=1510628877&k=b9ElSn02eJZ0dDvjh8OeuQ" /></a></li>
-->
            </ul>
        </div>
    </div>

    <div id="bottom-bar">
        <div id="up-button">
            <img id="top-arrow" class="arrow" src="../public/images/top-arrow.png">
            <img id="bottom-arrow" class="arrow" src="../public/images/bottom-arrow.png">
        </div>
        <% for (var i = 0; i < corps.length; i++) { %>
            <div id="corp-<%= i %>" class="putter">
                <div class="putter-top">
                    <div class="company-name">
                        <div class="container-out">
                            <div class="container-in">
                                <span class="font-small">기업명</span><br/>
                                <spas class="font-big"><%= corps[i].corpname %></spas>
                            </div>
                        </div>
                    </div>
                    <div class="company-link">
                        <div class="container-out">
                            <div class="container-in">
                                <span class="font-small">홈페이지</span><br/>
                                <spas class="font-big"><%= corps[i].homepage %></spas>
                            </div>
                        </div>
                    </div>
                    <div class="assets">
                        <div class="container-out">
                            <div class="container-in">
                                <span class="font-small">자산</span><br/>
                                <spas class="font-big"><%= corps[i].finance %></spas>
                            </div>
                        </div>
                    </div>
                    <div class="market">
                        <div class="container-out">
                            <div class="container-in">
                                <span class="font-small">시장종류</span><br/>
                                <spas class="font-big"><%= corps[i].market %></spas>
                            </div>
                        </div>
                    </div>
                    <div class="code">
                        <div class="container-out">
                            <div class="container-in">
                                <span class="font-small">종목코드</span><br/>
                                <spas class="font-big"><%= corps[i].strockcode %></spas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="putter-bottom">
                    <div class="built-day">
                        <div class="container-out">
                            <div class="container-in">
                                <span class="font-small-down">설립연도</span><br/>
                                <spas class="font-big"><%= corps[i].year %></spas>
                            </div>
                        </div>
                    </div>
                    <div class="staff">
                        <div class="container-out">
                            <div class="container-in-down">
                                <span class="font-small">직원 수</span><br/>
                                <spas class="font-big"><%= corps[i].workers %></spas>
                            </div>
                        </div>
                    </div>
                    <div class="classification">
                        <div class="container-out">
                            <div class="container-in-down">
                                <span class="font-small">업종 분류</span><br/>
                                <spas class="font-big"><%= corps[i].kindcorp %></spas>
                            </div>
                        </div>
                    </div>
                    <div class="tel">
                        <div class="container-out">
                            <div class="container-in-down">
                                <span class="font-small">연락처</span><br/>
                                <spas class="font-big"><%= corps[i].phone %></spas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

</body>
</html>
